
.flex-container{
    display: flex;
    justify-content: space-evenly;
}

#grid-container{
    display:grid;
    grid-template-columns: repeat(16, 1fr);
    justify-items: center;
    background: rgba(191, 185, 202, 0.438);
    padding: 10px;
    border: 3px solid #009B77;

    /*
    column-gap: 10px;
    row-gap: 10px;
    gap: 0px;
    */
    

    /*
    This is just squeezing the grid-container grid down,
    which I think is preventing it from centering.
    It makes it look better but it's not how it should work.
    */
    
}

.inner-divs {
    border: 3px solid #009B77;
    /*
    Using height and width might be better than padding?
    */
    height: 20px;
    width: 20px;
}

#button-div{
    padding: 50px;
    text-align: center;
}