/*
body,html {
    padding: 0;
    margin: 0;
  }
*/

.flex-inner-divs-container{
    display: flex;  
}

#grid-container div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;  
}


.inner-divs {
    border: 15px solid rgb(43, 136, 190);
    height: 50px;
    width: 50px;
    padding: 20px;
}

/*
.inner-divs:hover{
    background-color: yellow;
}
*/